/**
 * NEXUS Protocol documentation theme
 */

:root {
  --ifm-color-primary: #1a73e8;
  --ifm-color-primary-dark: #1666d1;
  --ifm-color-primary-darker: #1560c5;
  --ifm-color-primary-darkest: #114fa3;
  --ifm-color-primary-light: #2e80eb;
  --ifm-color-primary-lighter: #3a87ec;
  --ifm-color-primary-lightest: #5c9cf0;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #4da3ff;
  --ifm-color-primary-dark: #2e91ff;
  --ifm-color-primary-darker: #1f88ff;
  --ifm-color-primary-darkest: #006de0;
  --ifm-color-primary-light: #6cb5ff;
  --ifm-color-primary-lighter: #7bbdff;
  --ifm-color-primary-lightest: #b3d9ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
